* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(319deg, #9dd6f2 0%, #ffec82 37%, #ffcfd2 100%);
}

main {
    display: flex;
    flex-direction: column;
}

.intro-page, .customize-page{
    align-items: center;
    text-align: center;
    padding: 60px;
    background-color: rgba(255, 255, 255, 0.3); 
    border-radius: 20px;
}

.quiz {
    height: 800px;
    width: 1200px;
    background-color: rgba(255, 255, 255, 0.3); 
    border-radius: 20px;
    padding: 60px;
}

.app-name {
    font-family: 'Karla', normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 37px;
    color: #293264;
    text-align: center;
    margin-bottom: 30px;
}

.description {
    font-family: 'Inter', normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    color: #293264;
}

.customize {
    font-family: 'Karla', normal;
    font-weight: 400;
    font-size: 15px;
    color: #293264;
    cursor: pointer;
}

.button {
    margin-top: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #4D5B9E;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}

.start-button {
    width: 250px;
    height: 70px;
    font-size: 25px;
}

.check-button, .play-again-button, .back-button, .set-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    font-size: 15px;
    
}

.button:focus{
    outline: none;
}

.button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 0px 12px 25px -5px #682ab9b0;
}

.question-group {
    height: 550px;
    overflow: scroll;
}

.question-element {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.question, .customize-title {
    font-family: 'Karla', normal;
    font-weight: 700;
    font-size: 20px;
    color: #293264;
}

.answer-group {
    display: flex;
    gap: 10px;
}

.answer-button {
    border: 2px solid #293264;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Inter', normal;
    font-weight: 500;
    font-size: 15px;
    color: #293264;
    padding: 10px;
}

.question-group > hr {
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.result {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
}

.result > h3 {
    font-family: 'Karla', normal;
    font-weight: 700;
    font-size: 15px;
    color: #293264;
}

.customize-page > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

select {
    height: 30px;
    border: none;
    width: 100%;
    font-family: 'Karla', normal;
    font-size: 15px;
    color: #293264;
}